---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

# if (x) {  — jak w większości Twojego kodu
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: false
SpacesInAngles: false

AlignOperands: true
AlignTrailingComments: true
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: BeforeColon
Cpp11BracedListStyle: true
IndentCaseLabels: false
NamespaceIndentation: None

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2

PenaltyReturnTypeOnItsOwnLine: 200
ReflowComments: true
