---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  clang-analyzer-*,
  misc-*,
  -misc-const-correctness,
  -misc-include-cleaner,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  performance-*,
  -performance-avoid-endl,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init

WarningsAsErrors: ''
HeaderFilterRegex: '.*/(src|header|utils)/.*'
FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
